<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>실험실</title>
<link href="/css/default.css" rel="stylesheet">
</head>
<body>
	<div id="container">
		<h1>실험실에 오신것을 환영합니다.</h1>
		
		<input onclick="location.href='miniHome/upload'" type="button"
				value="파일 업로드실험실">
		<input onclick="location.href='/dotori'" type="button"
				value="dotori실험실">
		<input onclick="location.href='/member/kakaopay'" type="button"
				value="kakaopay실험실">
	</div>
	
	<div sec:authorize="hasRole('ROLE_ADMIN')">이 텍스트는 ADMIN 권한을 가진
			사람만 볼 수 있습니다.</div>

		<div sec:authorize="hasRole('ROLE_USER')">이 텍스트는 USER 권한을 가진 사람만
			볼 수 있습니다.</div>


		<audio autoplay controls>
			<source src="https://ccrma.stanford.edu/~jos/mp3/harpsi-cs.mp3"
				type="audio/mp3" controls autoplay>
		</audio>

		 <p>iframe을 이용한 audio 재생 - autoplay</p>
		<iframe   src="https://ccrma.stanford.edu/~jos/mp3/harpsi-cs.mp3"
			controls loop allow="autoplay" id="audio"></iframe>
			
		<!-- <audio controls>
        <source src="http://localhost:8080/dadada.mp3" type="audio/mp3">
    	</audio> -->
</body>
</html>