server:
  port: 9000
  servlet:
    session:
      tracking-modes: cookie
    multipart:
      max-file-size=10MB
      max-request-size=100MB


uploadPath: jdbc:oracle:thin:@cyworld_high?TNS_ADMIN=./src/main/resources/Wallet_cyworld/
   
    
spring:
  datasource:
    driver-class-name: oracle.jdbc.driver.OracleDriver
#   driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    url: jdbc:oracle:thin:@cyworld_high?TNS_ADMIN=./src/main/resources/Wallet_cyworld
    username: admin
    password: Tkdldnjfem123
#   url: jdbc:oracle:thin:@localhost:1521:xe
 #   url: jdbc:log4jdbc:mariadb://localhost:3306/orderservice
#    username: root
#    password: root
  profiles:
    include: oauth
  devtools:
    livereload:
      enabled: true
  thymeleaf:
    cache: true
    
    
mybatis:
  config-location: classpath:config/mybatis-config.xml
  mapper-locations: classpath:mapper/**/*.xml

logging:
  level:
    jdbc:
      audit: off
      resultset: off
      connection: off
      sqlonly: off

      
      
  