<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/minihonP_main.css">
    <script src="https://kit.fontawesome.com/d1fa9340d9.js"	crossorigin="anonymous"></script>
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>cyworld</title>
</head>

<body>
    <div class="mainWrap">
        <div class="hompWrap"></div>

        <!--980*700-->
        <div class="profile">
            <div class="line">
                <div class="visitors">
                    <p>TODAY: <span>10000</span> &nbsp;&nbsp;| &nbsp;&nbsp;TOTAL: 230510</p>
                </div><!--visitors-->
                <div class="wrap">
                    <div class="photo">
                        <img src="/img/basic image.jpg" alt="profile basic image">
                    </div>
                    <div class="mood">TODAY IS...&nbsp;&nbsp;<span>슬픔</span></div>
                    <div class="contents">프로필 소개입니다</div>
                    <div class="history">
                        <div class="left">
                            <i class="fa-solid fa-caret-right" style="color: #f5ae14;"></i> <a href="#">EDIT</a>
                            <i class="fa-solid fa-caret-right" style="color: #f5ae14;"></i> HISTORY
                        </div>
                        <div class="right">
                            <i class="fa-solid fa-caret-down"></i>
                            <i class="fa-solid fa-caret-up"></i>
                        </div>
                    </div><!--history-->
                    <div class="name">샤갈</div>
                    <div class="ilchonList">
                        <div class="tag">일촌</div>
                        <div class="list">
                            <select name="ilchonList">
                                <option value="none">★일촌 파도타기</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div><!--ilchonList-->
                </div><!--wrap-->
            </div><!--line-->
        </div><!--profile-->

        <div class="homp">
            <div class="line">
                <div class="titleWrap">
                    <div class="title">
                        이형빈님의 미니홈피
                    </div>
                    <div class="update"><button>수정</button></div>
                    <div class="url"><a href="#">https://www.cyworld.com/lhb_babo</a></div>
                </div><!--titleWrap-->
                <div class="wrap">
                    <div class="scroll">
                        <h3>Updated news</h3>
                        <div class="topWrap">
                            <div class="newPost">
                                <ul>
                                    <li><a href="#">첫 번째 게시글</a></li>
                                    <li><a href="#">두 번째 게시글</a></li>
                                    <li><a href="#">세 번째 게시글</a></li>
                                    <li><a href="#">네 번째 게시글</a></li>
                                </ul>
                            </div><!--newPost-->
                            <table class="board">
                                <tr>
                                    <td><a href="#">다이어리</a></td>
                                    <td><a href="#">사진첩</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">게시판</a></td>
                                    <td><a href="#">방명록</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">1</a></td>
                                    <td><a href="#">2</a></td>
                                </tr>
                            </table>
                        </div><!--topWrap-->
                        <div class="miniroom">
                            <h4>미니룸</h4>
                            <img src="/img/miniroom.jpg" alt="miniroom image">
                        </div>
                        <h3>What friends say</h3>
                        <div class="ilchonReply">
                            <ul>
                                <li>일촌평</li>
                                <li>일촌평</li>
                                <li>일촌평</li>
                            </ul>
                        </div>
                    </div><!--scroll-->
                </div><!--wrap-->
                
                <div class="tap">
                    <div class="home"><a href="#">홈</a></div>
                    <div class="home"><a href="http://www.naver.com">프로필</a></div>
                    <div class="home"><a href="#">다이어리</a></div>
                    <div class="home"><a href="#">사진첩</a></div>
                    <div class="home"><a href="#">게시판</a></div>
                    <div class="home"><a href="#">방명록</a></div>
                </div>
            </div><!--line-->

        </div><!--homp-->

        <div class="bgm"></div>
    </div>
</body>

</html>