<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/minihomP_main.css">
	<script src="https://kit.fontawesome.com/d1fa9340d9.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<title>cyworld</title>
</head>

<body>
	<form class="mainWrap" action="update" method="post" th:object="${member}" enctype="multipart/form-data">
		<div class="hompWrap"></div>

		<!--980*700-->
		<div class="profile">
			<div class="line">
				<div class="visitors">
					<p>TODAY: <span>10000</span> &nbsp;&nbsp;| &nbsp;&nbsp;TOTAL: 230510</p>
				</div><!--visitors-->
				<div class="wrap">
					<div class="photo">
						<img th:src="*{profile_img}" alt="profile basic image" class="image-box">
						<label for="file">
							<div class="fileBtn first">사진 선택</div>
							<div class="fileBtn second">다시 선택</div>
						</label>
						<input type="file" name="file" id="file" accept="image/*">
					</div>
					<div class="mood">TODAY IS...&nbsp;&nbsp;<span>슬픔</span></div>
					<textarea class="contents" name="explanation" th:text="*{homp_explanation}"></textarea>

					<div class="history">
						<div class="left">
							<i class="fa-solid fa-caret-right" style="color: #f5ae14;"></i> <input type="submit"
								value="SAVE">
							<i class="fa-solid fa-caret-right" style="color: #f5ae14;"></i> HISTORY
						</div>
						<div class="right">
							<i class="fa-solid fa-caret-down"></i>
							<i class="fa-solid fa-caret-up"></i>
						</div>
					</div><!--history-->
					<div class="name">
						<p th:text="*{name}"></p>
					</div>
					<div class="ilchonList">
						<div class="tag">일촌</div>
						<div class="list">
							<select name="ilchonList">
								<option value="none">★일촌 파도타기</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
						</div>
					</div><!--ilchonList-->
				</div><!--wrap-->
			</div><!--line-->
		</div><!--profile-->

		<div class="homp">
			<div class="line">
				<div class="titleWrap">
					<div class="title">
						<span th:text="*{homp_title}"></span>
					</div>
					<div class="update"><button>수정</button></div>
					<div class="url"><a href="#">https://www.cyworld.com/[[*{member_id}]]</a></div>
				</div><!--titleWrap-->
				<div class="wrap">
					<div class="scroll">
						<h3>Updated news</h3>
						<div class="topWrap">
							<div class="newPost">
								<ul>
									<li><a href="#">첫 번째 게시글</a></li>
									<li><a href="#">두 번째 게시글</a></li>
									<li><a href="#">세 번째 게시글</a></li>
									<li><a href="#">네 번째 게시글</a></li>
								</ul>
							</div><!--newPost-->
							<table class="board">
								<tr>
									<td><a href="#">다이어리</a></td>
									<td><a href="#">사진첩</a></td>
								</tr>
								<tr>
									<td><a href="#">게시판</a></td>
									<td><a href="#">방명록</a></td>
								</tr>
								<tr>
									<td><a href="#">1</a></td>
									<td><a href="#">2</a></td>
								</tr>
							</table>
						</div><!--topWrap-->
						<div class="miniroom">
							<h4>미니룸</h4>
							<img src="/img/miniroom.jpg" alt="miniroom image">
						</div>
						<h3>What friends say</h3>
						<div class="ilchonReply">
							<ul>
								<li>일촌평</li>
								<li>일촌평</li>
								<li>일촌평</li>
							</ul>
						</div>
					</div><!--scroll-->
				</div><!--wrap-->

				<div class="tap">
					<div class="home"><a href="#">홈</a></div>
					<div class="home"><a href="#">프로필</a></div>
					<div class="home"><a href="#">다이어리</a></div>
					<div class="home"><a href="#">사진첩</a></div>
					<div class="home"><a href="#">게시판</a></div>
					<div class="home"><a href="#">방명록</a></div>
				</div>
			</div><!--line-->

		</div><!--homp-->

		<div class="bgm"></div>
	</form>

	<script>
		const fileDOM = document.querySelector('#file');
		const preview = document.querySelector('.image-box');

		fileDOM.addEventListener('change', (e) => {
			$(".second").show();
			$(".first").hide();
			
			var file = e.target.files;
			
			console.log(file);
			const reader = new FileReader();
			reader.onload = ({target}) => {
				preview.src = target.result;
			};
			reader.readAsDataURL(fileDOM.files[0]);
		});

	</script>
</body>

</html>